@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - Gp Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/aos.css" rel="stylesheet">
    <link href="~/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/css/main.css" rel="stylesheet">
    <style>
        #header {
            height: 80px !important;
            transition: none !important;
        }
    </style>
</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a asp-controller="Torneos" asp-action="Index">Torneo</a></li>
                    <li><a asp-controller="Torneos" asp-action="Equipos">Equipos</a></li>
                    

                    @inject IHttpContextAccessor HttpContextAccessor

                    @{
                        var userName = HttpContextAccessor.HttpContext?.Session.GetString("UserName");
                        var userRole = HttpContextAccessor.HttpContext?.Session.GetString("Role");
                    }


                    @if (!string.IsNullOrEmpty(userName))
                    {
                        <li>Welcome, @userName</li>
                        <li>Role: @userRole</li>
                    }
                    else
                    {
                        <li><a asp-controller="Managed" asp-action="Login">Login</a></li>
                    }

                    <li><a asp-controller="Torneos" asp-action="Perfil">Perfil</a></li>
                    <li><a asp-controller="Torneos" asp-action="Create">Añadir Equipo</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>


        </div>
    </header>

    @RenderBody()

    <!-- Vendor JS Files -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/validate.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/glightbox.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/purecounter_vanilla.js"></script>

    <!-- Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>
